<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.ArticleCategoryDao">
    <update id="checkArticleCategoryName">
        UPDATE ArticleCategory SET name =#{name} AND creatorId =#{creatorId} WHERE name =#{NAME}
    </update>
    <update id="checkArticleCategorySign">
        UPDATE  ArticleCategory SET sign =#{sign} AND creatorId=#{creatorId} WHERE sign =#{sign}
    </update>
    <update id="checkArticleCategoryNamewithoutMe">
        UPDATE ArticleCategory SET articleCategoryTid =#{articleCategoryTid},name=#{name} AND creatorid ={creatorid} WHERE NamewithoutMe=#{NamewithoutMe}
    </update>
    <update id="checkArticleCategorySignwithoutMe">
        UPDATE ArticleCategory SET articleCategoryTid =#{articleCategoryTid} AND sign={sign} WHERE SignwithoutMe=#{SignwithoutMe}
    </update>
    <delete id="delArticleCategory">
        DELETE ArticleCategory SET status =#{status} ,parentId =#{parentId}AND creatorid=#{creatorid} WHERE
    </delete>

    <select id="findPathParentIdByParentId" resultType="net.hzjxy.myshop.entity.ArticleCategory">
        SELECT * FROM ArticleCategory WHERE parentId =#{parentId} AND creatorId =#{creatorId}
    </select>
    <select id="findArticleCategoryByGrade" resultType="net.hzjxy.myshop.entity.ArticleCategory">
        SELECT *FROM ArticleCategory WHERE grade =#{grade},status=#{status}AND creatorId={creatorId}
    </select>
    <select id="findAllArticleCategoryT" resultType="net.hzjxy.myshop.entity.ArticleCategory"></select>
    <select id="countfindAllArticleCategoryT" resultType="java.lang.Integer">
        SELECT COUNT (*)FROM ArticleCategoryT
    </select>
    <select id="findAllArticleCategoryTByGrade" resultType="net.hzjxy.myshop.entity.ArticleCategory"></select>
    <select id="countfindAllArticleCategoryTByGrade" resultType="java.lang.Integer">
         SELECT COUNT (*)FROM ArticleCategoryTByGrade
    </select>
    <select id="findArticleCategoryByarticleCategoryTid" resultType="net.hzjxy.myshop.entity.ArticleCategory">
        SELECT *FROM ArticleCategory WHERE articleCategoryTid=#{articleCategoryTid}
    </select>
    <select id="findArticleCategoryByparentId" resultType="net.hzjxy.myshop.entity.ArticleCategory">
        SELECT *FROM ArticleCategory WHERE status={status},parentId={parentId}AND creatorid=#{creatorid}
    </select>
    <select id="findArticleCategoryByparentIdnull" resultType="net.hzjxy.myshop.entity.ArticleCategory">
        SELECT *FROM ArticleCategory WHERE status={status}AND creatorid=#{creatorid}
    </select>
    <select id="findAllArticleCategoryBycreatorid" resultType="net.hzjxy.myshop.entity.ArticleCategory">
        SELECT *FROM ArticleCategory WHERE creatorid=#{creatorid}
    </select>
    <select id="findArticleCategoryByposition" resultType="net.hzjxy.myshop.entity.ArticleCategory">
        SELECT *FROM ArticleCategory  WHERE lineSize=#{lineSize},status=#{status},position=#{position}AND creatorid=#{creatorid}
    </select>
    <select id="sortAllArticleCategoryT" resultType="net.hzjxy.myshop.entity.ArticleCategory">
         SELECT *FROM ArticleCategory WHERE currentPage=#{currentPage},lineSize=#{lineSize},status=#{status},creatorid#{creatorid}AND queryString=#{queryString}
    </select>
</mapper>