<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.DeliverAddressDao">
    <update id="updateDeliverAddress"></update>
    <delete id="delArticleT"></delete>
    <delete id="delDeliverAddress"></delete>
    <select id="findAllDeliverAddress" resultType="net.hzjxy.myshop.entity.DeliverAddress"></select>
    <select id="findDeliverAddressBymemberid" resultType="net.hzjxy.myshop.entity.DeliverAddress"></select>
    <select id="findDeliverAddressById" resultType="net.hzjxy.myshop.entity.DeliverAddress"></select>
</mapper>