<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.FunctionDao">
    <insert id="addFunction">
        insert into Function(id,visitUrl,visitMethodName,functionName,createTime,moduleId)VALUES ();
    </insert>
    <update id="updateFunctionM">
      UPDATE Function SET ModuleId=#{moduleId} WHERE Id=#{id}
    </update>
    <delete id="delFunctionM">
       DELETE FROM Function WHERE FunctionId=#{function}
    </delete>
    <select id="findFunctionMById" resultType="net.hzjxy.myshop.entity.Function">
     SELECT * FROM Function WHERE Id=#{id}
    </select>
    <select id="findAllFunctionM" resultType="net.hzjxy.myshop.entity.Function">
    SELECT　moduleId FROM Function WHERE Id=#{id}
    </select>
    <select id="findAllFunctionMBymoduleid" resultType="net.hzjxy.myshop.entity.Function">
    </select>
</mapper>