<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.GlobalParamDao">
    <update id="updateGolbalParamByKey"></update>
    <delete id="delArticleT"></delete>
    <select id="findValueByKey" resultType="net.hzjxy.myshop.entity.GlobalParam"></select>
    <select id="findAllGlobalParam" resultType="net.hzjxy.myshop.entity.GlobalParam"></select>
</mapper>