<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.GoodsDao">
    <insert id="addGoods" parameterType="net.hzjxy.myshop.entity.Goods">
        INSERT INTO Goods(GOODSID,GOODSNAME,BRANDNAME,NNAME,LNAME,SNAME,FNAME,NAVID,LTYPEID,STYPEID,PRICE,MEMBERPRICE,POINTS,PICTUREURL,QUANTITY,SALESTATE,UNITNAME,KEYWORDNAME,WEIGHT,READCOUNT,
        RELATEDPRODUCTID,RECOMMENDED,HOTSALE,BARGAINPRICE,SORT,CREATETIME,CREATORID,REPLYCOUNT,BRANDID,PLACESTORE,METAKYEWORDS,METADESCRIPTION,COST,SALEPRICE,ISNEW,HTMLPATH,HTMLPATH,GOODSPARAMETERVALUE,FREEZESTORE,KEYWORDID,
        UNITNAMEID,GOODSTYPEID,GOODSTYPENAME,USERSETNUM,INSPECIFICATIONSOPEA,TOTALSTARUSER,TOTALCOMMENT,ISVIRTUALSALE,ISMOBILEPLATFORMGOODS,SALES,REALSALES,UPDATETIME,VERSION,COMMODITYLIST,ISOUTSITE,OUTSITELINK,SUBGOODSNAME,SHOPID,SHOPNAME,ISGROUP,ISSECONDKILL)
        VALUES (#{GOODSID},#{GOODSNAME},#{BRANDNAME},#{NNAME},#{LNAME},#{SNAME},#{FNAME},#{NAVID},#{LTYPEID},#{STYPEID},#{PRICE},#{MEMBERPRICE},#{POINTS},#{PICTUREURL},#{QUANTITY},#{SALESTATE},#{UNITNAME},#{KEYWORDNAME},#{WEIGHT},#{READCOUNT},
        #{RELATEDPRODUCTID},#{RECOMMENDED},#{HOTSALE},#{BARGAINPRICE},#{SORT},#{CREATETIME},#{CREATORID},#{REPLYCOUNT},#{BRANDID},#{PLACESTORE},#{METAKYEWORDS},#{METADESCRIPTION},#{COST},#{SALEPRICE},#{ISNEW},#{HTMLPATH},#{HTMLPATH},#{GOODSPARAMETERVALUE},#{FREEZESTORE},#{KEYWORDID},
        #{UNITNAMEID},#{GOODSTYPEID},#{GOODSTYPENAME},#{USERSETNUM},#{INSPECIFICATIONSOPEA},#{TOTALSTARUSER},#{TOTALCOMMENT},#{ISVIRTUALSALE},#{ISMOBILEPLATFORMGOODS},#{SALES},#{REALSALES},#{UPDATETIME},#{VERSION},#{COMMODITYLIST},#{ISOUTSITE},#{OUTSITELINK},#{SUBGOODSNAME},#{SHOPID},#{SHOPNAME},#{ISGROUP},#{ISSECONDKILL})
    </insert>
    <update id="updateGoods" parameterType="net.hzjxy.myshop.entity.Goods">
        UPDATE Goods
        <set>
            <if test="GoodsName!=null">
                GoodsName=#{goodsName},
            </if>
            <if test="BrandName!=null">
                BrandName=#{brandName},
            </if>
            <if test="brandName!=null">
                brandName=#{brandName},
            </if>
            <if test="nName!=null">
                nName=#{nName},
            </if>
            <if test="lName!=null">
                lName=#{lName},
            </if>
            <if test="sName!=null">
                sName=#{sName},
            </if>
            <if test="fName!=null">
                fName=#{fName},
            </if>
            <if test="navId!=null">
                navId=#{navId},
            </if>
            <if test="lTypeId!=null">
                lTypeId=#{lTypeId},
            </if>
            <if test="sTypeId!=null">
                sTypeId=#{sTypeId},
            </if>
            <if test="price!=0">
                price=#{price},
            </if>
            <if test="memberPrice!=null">
                memberPrice=#{memberPrice},
            </if>
            <if test="points!=null">
                points=#{points},
            </if>
            <if test="pictureUrl!=null">
                pictureUrl=#{pictureUrl},
            </if>
            <if test="quantity!=0">
                quantity=#{quantity},
            </if>
            <if test="saleState!=null">
                saleState=#{saleState},
            </if>
            <if test="unitName!=null">
                unitName=#{unitName},
            </if>
            <if test="keywordName!=null">
                keywordName=#{keywordId},
            </if>
            <if test="weight!=null">
                weight=#{weight},
            </if>
            <if test="readCount!=null">
                readCount=#{recommended},
            </if>
            <if test="relatedProductId!=null">
                relatedProductId=#{relatedProductId},
            </if>
            <if test="recommended!=null">
                recommended=#{recommended},
            </if>
            <if test="hotSale!=null">
                hotSale=#{hotSale},
            </if>
            <if test="bargainPrice!=null">
                bargainPrice=#{bargainPrice},
            </if>
            <if test="sort!=null">
                sort=#{sort},
            </if>
            <if test="createTime!=null">
                createTime=#{createTime},
            </if>
            <if test="creatorId!=null">
                creatorId=#{creatorId},
            </if>
            <if test="replyCount!=null">
                replyCount=#{replyCount},
            </if>
            <if test="brandId!=null">
                brandId=#{brandId},
            </if>
            <if test="placeStore!=null">
                placeStore=#{placeStore},
            </if>
            <if test="metaKeywords!=null">
                metaKeywords=#{metaKeywords},
            </if>
            <if test="metaDescription!=null">
                metaDescription=#{metaDescription},
            </if>
            <if test="cost!=null">
                cost=#{cost},
            </if>
            <if test="salePrice!=0">
                salePrice=#{salePrice},
            </if>
            <if test="isNew!=nll">
                isNew=#{isNew},
            </if>
            <if test="htmlPath!=null">
                htmlPath=#{htmlPath},
            </if>
            <if test="productSn!=null">
                productSn=#{productSn},
            </if>
            <if test="goodsParameterValue!=null">
                goodsParameterValue=#{goodsParameterValue},
            </if>
            <if test="freezeStore!=null">
                freezeStore=#{freezeStore},
            </if>
            <if test="keywordId!=null">
                keywordId=#{keywordId},
            </if>
            <if test="unitNameId!=null">
                unitNameId=#{unitNameId},
            </if>
            <if test="goodsTypeId!=null">
                goodsTypeId=#{goodsTypeId},
            </if>
            <if test="goodsTypeName!=null">
                goodsTypeName=#{goodsTypeId},
            </if>
            <if test="userSetNum!=null">
                userSetNum=#{userSetNum},
            </if>
            <if test="isSpecificationsOpen!=null">
                isSpecificationsOpen=#{isSpecificationsOpen},
            </if>
            <if test="totalStar!=0">
                totalStar=#{totalStar},
            </if>
            <if test="totalStarUser!=0">
                totalStarUser=#{totalStarUser},
            </if>
            <if test="totalComment!=0">
                totalComment=#{totalComment},
            </if>
            <if test="isVirtualSale!=null">
                isVirtualSale=#{isVirtualSale},
            </if>
            <if test="isMobilePlatformGoods!=null">
                isMobilePlatformGoods=#{isMobilePlatformGoods},
            </if>
            <if test="sales!=0">
                sales=#{sales},
            </if>
            <if test="realSales!=0">
                realSales=#{realSales},
            </if>
            <if test="updateTime!=0">
                updateTime=#{updateTime},
            </if>
            <if test="version!=0">
                version=#{version},
            </if>
            <if test="commodityList!=null">
                commodityList=#{commodityList},
            </if>
            <if test="isOutSite!=null">
                isOutSite=#{isOutSite},
            </if>
            <if test="outSiteLink!=null">
                outSiteLink=#{outSiteLink},
            </if>
            <if test="subGoodsName!=null">
                subGoodsName=#{subGoodsName},
            </if>
            <if test="shopId!=null">
                shopId=#{shopId},
            </if>
            <if test="shopName!=null">
                shopName=#{shopName},
            </if>
            <if test="isGroup!=null">
                isGroup=#{isGroup},
            </if>
            <if test="isSecondKill!=null">
                isSecondKill=#{isSecondKill},
            </if>
        </set>
        WHERE GoodsId=#{goodId}
    </update>
    <update id="updateGoodsSaleState" parameterType="map">
        UPDATE Goods SET salestate=#{salestate} where goodsTypeId=#{goodsTypeId}
    </update>

    <update id="updateGoodsSaleStateById" parameterType="map">
        UPDATE Goods SET goodsid=#{goodsid},salestate=#{salestate} and creatorid=#{creatorid} where goodsId=#{goodsid}
    </update>
    <update id="updateGoodsreadcount" parameterType="string">
        UPDATE Goods SET readCount=#{readCount} where goodsid=#{goodsid}
    </update>
    <update id="updateGoodsrelatedfit" parameterType="map">
        UPDATE Goods SET list=#{list} where goodsid=#{goodsid}
    </update>
    <update id="updateGoodsrelatedgoods" parameterType="map">
        UPDATE Goods SET list=#{list} where goodsid=#{goodsid}
    </update>
    <update id="updateFiveGoodsState" parameterType="map">
        UPDATE  Goods SET recommended=#{recommended},hotsale=#{hotsale},bargainprice=#{bargainprice},isNew=#{isNew} and ismobileplatformgoods=#{ismobileplatformgoods} where goodsid=#{goodsid}
    </update>
    <update id="updateGoodsrecommended" parameterType="map">
        UPDATE Goods SET recommended=#{recommended} ,creatorid=#{creatorid} where goodsid=#{goodsid}
    </update>
    <update id="updateGoodshotsale" parameterType="map">
        UPDATE Goods SET hotsale=#{hotsale},creatorid=#{creatorid} where goodsid=#{goodsid}
    </update>
    <update id="updateGoodsbargainprice" parameterType="map">
        UPDATE  Goods SET creatorid=#{creatorid},bargainprice=#{bargainprice} where goodsid=#{goodsid}
    </update>
    <update id="updateGoodsisNew" parameterType="map">
        UPDATE Goods SET isNew=#{isNew},creatorid=#{creatorid} WHERE goodsid=#{goodsid}
    </update>
    <update id="updateGoodsismobileplatformgoods" parameterType="map">
        UPDATE Goods SET ismobileplatformgoods=#{ismobileplatformgoods},creatorid=#{creatorid} where goodsid=#{goodsid}
    </update>
    <update id="updateSort" parameterType="map">
        UPDATE Goods SET sort=#{sort} where goodsid=#{goodsid}
    </update>
    <update id="updateGoodssortid" parameterType="map">
        UPDATE Goods SET goodsortid=#{goodsortid} where goodsid=#{goodsid}
    </update>
    <update id="updateGoodssortname" parameterType="map">
        UPDATE  Goods SET goodssortname=#{goodssortname} where goodsid=#{goodsid}
    </update>
    <update id="updateGoodsreplycount" parameterType="string">
        UPDATE Goods SET quantity=#{quantity} where goodsid=#{goodsid}
    </update>
    <update id="updateHtmlPath" parameterType="map">
        UPDATE Goods SET htmlPath=#{htmlPath} where goodsid=#{goodsid}
    </update>
    <update id="updatestarsumBygoodsid" parameterType="map">
        UPDATE  Goods SET star=#{star} where goodsid=#{goodsid}
    </update>
    <update id="updatestarusersumBygoodsid" parameterType="map">
        UPDATE Goods SET staruser=#{staruser} where goodsid=#{goodsid}
    </update>
    <update id="updatecommentsumBygoodsid" parameterType="map">
        UPDATE Goods SET totalcomment=#{totalcomment} where goodsid=#{goodsid}
    </update>
    <update id="updateGoodsTypeNameBygoodsTypeId" parameterType="map">
        UPDATE Goods SET goodsTypeName=#{goodsTypeName} where goodsTypeId=#{goodsTypeId}
    </update>
    <update id="updateGoodsCategoryBynlsid" parameterType="string">
        UPDATE Goods SET queryString=#{queryString} where lTypeId=#{lTypeId}
    </update>
    <update id="updateGoodsQuantityByGoodsId" parameterType="map">
        UPDATE Goods SET quantity:=oldQuantity=#{oldQuantity}+newQuantity=#{newQuantity} where goodsid=#{goodsid}
    </update>

    <delete id="delGoods">
        DELETE FROM Goods WHERE CreatorId IN
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="findAllGoods" resultType="net.hzjxy.myshop.entity.Goods">
        SELECT * FROM Goods
    </select>
    <select id="findAllGoodsByPageId" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE creatorid=#{creatorid}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findAllGoodsByPage" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE Id=#{ID}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countAllGoods" resultType="java.lang.Integer">
        SELECT  count(*) FROM Goods
    </select>
    <select id="countAllGoodsById" resultType="java.lang.Integer" parameterType="string">
        SELECT * FROM Goods WHERE creatorid=#{creatorid}
    </select>
    <select id="countAllGoodsBysql" resultType="java.lang.Integer" parameterType="string">
        SELECT * FROM Goods WHERE queryString=#{queryString}
    </select>
    <select id="findGoodsById" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT * FROM Goods WHERE goodsid=#{goodsid}
    </select>
    <select id="findGoodsByNavid" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT salestate=#{salestate},ismobileplatformgoods=#{ismobileplatformgoods} FROM Goods where navid=#{navid}
    </select>
    <select id="countfindGoodsByNavid" resultType="java.lang.Integer" parameterType="map">
        SELECT count(salestate) from Goods where navid=#{navid}
    </select>
    <select id="findGoodsByLtypeid" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT salestate=#{salestate} from Goods where ltypeid=#{ltypeid}
    </select>
    <select id="countfindGoodsByLtypeid" resultType="java.lang.Integer" parameterType="map">
        SELECT count(salestate) FROM Goods WHERE ltypeid=#{ltypeid}
    </select>
    <select id="findGoodsByStypeid" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT salestate=#{salestate} from Goods where stypeid=#{stypeid}
    </select>
    <select id="findGoodsBybrand" resultType="net.hzjxy.myshop.entity.Goods" parameterType="string">
        SELECT brand FROM Goods
    </select>
    <select id="findGoodsByGoodsname" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE salestate=#{salestate} and goodsname=#{goodsname}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findGoodsBymodel" resultType="net.hzjxy.myshop.entity.Goods" parameterType="string">
        SELECT * FROM Goods WHERE model=#{model}
    </select>
    <select id="findGoodsByprice" resultType="net.hzjxy.myshop.entity.Goods" parameterType="string">
        SELECT * FROM  Goods WHERE price=#{price}
    </select>
    <select id="findGoodsByKeyword" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE keywordid=#{keywordid}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countfindGoodsByKeyword" resultType="java.lang.Integer" parameterType="string">
        SELECT * FROM Goods WHERE keywordid=#{keywordid}
    </select>
    <select id="findGoodsByusersetnum" resultType="net.hzjxy.myshop.entity.Goods" parameterType="string">
        SELECT * FROM Goods WHERE usersetnum=#{usersetnum}
    </select>
    <select id="findGoodsForoptiontransferselect" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT * FROM Goods WHERE navid=#{navid},ltypeid=#{ltypeid},stypeid=#{stypeid} and goodsname=#{goodsname}
    </select>
    <select id="findAllGoodstWithoutSplitpage" resultType="net.hzjxy.myshop.entity.Goods"></select>
    <select id="findGoodsLimitByGoodsType" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT limit=#{limit} where  nlstypeid=#{nlstypeid}
    </select>
    <select id="findSamepriceGoods" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT * BETWEEN minprice=#{minprice} and maxprice=#{maxprice} FROM Goods WHERE goodsid={goodsid}
    </select>
    <select id="findMoreGoodsByGoodsType" resultType="net.hzjxy.myshop.entity.Goods"></select>
    <select id="countfindMoreGoodsByGoodsType" resultType="java.lang.Integer" parameterType="string">
        SELECT count(nlstypeid) FROM Goods WHERE
    </select>
    <select id="findSearchGoods" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE goodsname=#{goodsname}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countfindSearchGoods" resultType="java.lang.Integer" parameterType="string">
        SELECT count(megoodsna) FROM Goods
    </select>
    <select id="findAllGoodslistMore" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE salestate=#{salestate}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countfindAllGoodslistMore" resultType="java.lang.Integer" parameterType="string">
        SELECT count(salestate) FROM Goods
    </select>
    <select id="findMoreHotSaleGoodsByGoodsType" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE nlstypeid=#{nlstypeid}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countfindMoreHotSaleGoodsByGoodsType" resultType="java.lang.Integer" parameterType="string">
        SELECT count(nlstypeid) FROM Goods
    </select>
    <select id="findMoreBargainPriceGoodsByGoodsType" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE nlstypeid=#{nlstypeid}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countfindMoreBargainPriceGoodsByGoodsType" resultType="java.lang.Integer" parameterType="string">
        SELECT count(nlstypeid) FROM Goods
    </select>
    <select id="findMoreRecommendedGoodsByGoodsType" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE nlstypeid=#{nlstypeid}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countfindMoreRecommendedGoodsByGoodsType" resultType="java.lang.Integer" parameterType="string">
        SELECT count(nlstypeid) FROM Goods
    </select>
    <select id="findMoreBargainPriceGoods" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countfindMoreBargainPriceGoods" resultType="java.lang.Integer">
        SELECT  count(bargainPriceGoods) FROM  Goods   //
    </select>
    <select id="findAllGoodsByismobileplatformgoods" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE creatorid=#{creatorid}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findAllGoodsByismobileplatformgoodsBynavid" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT navid,ismobileplatformgoods FROM Goods WHERE statesal=#{salestate}
    </select>
    <select id="countfindAllGoodsByismobileplatformgoods" resultType="java.lang.Integer" parameterType="map">
        SELECT count(*) FROM Goods WHERE isMobilePlatformGoods=#{isMobilePlatformGoods}
    </select>
    <select id="findAllGoodsBynavid" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT salestate=#{salestate} from Goods where navid=#{navid}
    </select>
    <select id="findGoodsByLtypeidByPage" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map" >
           SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE ltypeid=#{ltypeid} and salestate=#{salestate}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="finaAllGoodsT" resultType="net.hzjxy.myshop.entity.Goods" parameterType="string">
        SELECT * FROM  Goods
    </select>
    <select id="findAllGoodsBynavidorderbyParams" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT isNew=#{isNew},salestate=#{salestate},sales=#{sales},memberprice=#{memberprice},totalcomment=#{totalcomment},bargainprice=#{bargainprice},hotsale=#{hotsale},recommended=#{recommended} and value=#{value}  order by params from Goods where navid=#{navid}
    </select>
    <select id="findAllGoodsByLtypeidorderbyParams" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT salestate=#{salestate},sales=#{sales},memberprice=#{memberprice},totalcomment=#{totalcomment},bargainprice=#{bargainprice},hotsale=#{hotsale},recommended=#{recommended},
        isNew=#{isNew} and value=#{value} order by params from Goods where ltypeid=#{ltypeid}
    </select>
    <select id="findAllGoodsBysql" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY queryString DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findAllGoodsForImgT" resultType="net.hzjxy.myshop.entity.Goods">
        SELECT  * FROM Goods
    </select>
    <select id="findshuffleGoods" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY sort DESC WHERE salestate=#{salestate} and recommended=#{recommended}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findGoodsByattrs" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY sort DESC WHERE attr=#{attr} and salestate=#{salestate}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findGoodsByNavidByPage" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE navid=#{navid} and salestate=#{salestate}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findAllGoodsBynavidSO" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT salestate=#{salestate},isSpecificationsOpen=#{isSpecificationsOpen} from Goods where navid=#{navid}
    </select>
    <select id="findAllGoodsBynavidandltypeid" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT salestate=#{salestate},isSpecificationsOpen=#{isSpecificationsOpen} from Goods where navid=#{navid} and ltypeid=#{ltypeid}
    </select>
    <select id="findAllGoodsBynavidandltypeidandstypeid" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
        SELECT salestate=#{salestate},isSpecificationsOpen=#{isSpecificationsOpen} from Goods where navid=#{navid} and ltypeid=#{ltypeid} and stypeid=#{stypeids}
    </select>
    <select id="findAllGoodsByattribute" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
          SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY queryString DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countfindAllGoodsByattribute" resultType="java.lang.Integer" parameterType="map">
        SELECT * FROM Goods WHERE attribute=#{attribute}
    </select>
    <select id="findrecommendedGoodsT" resultType="net.hzjxy.myshop.entity.Goods"></select>
    <select id="findvirtualsaleGoodsT" resultType="net.hzjxy.myshop.entity.Goods" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Goods ORDER BY createtime DESC WHERE isvirtualsale=#{isvirtualsale}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countfindvirtualsaleGoodsT" resultType="java.lang.Integer" parameterType="string">
        SELECT count(isvirtualsale) FROM Goods
    </select>
</mapper>
