<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.GoodsBlinkedDao">
        <insert id="addGoodsBlinked" parameterType="net.hzjxy.myshop.entity.GoodsBlinked">
                INSERT INTO GoodsBelinked(ID,MAINGOODSID,BELINKEDPRODUCTINFO,BMODE,STATE,CREATORID,CREATETIME,UPDATETIME,SXLINKEDGOODSID,MAINPRODUCTID,SHOPID,MAINGOODSNAME)
                VALUES (#{id},#{mainGoodsId},#{beLinkedProductInfo},#{bMode},#{state},#{creatorId},#{createTime},#{updateTime},#{sxLinkedGoodsId},#{mainProductId},#{shopId},#{mainGoodsName})
        </insert>

        <update id="updateGoodsBelinked" parameterType="net.hzjxy.myshop.entity.GoodsBlinked">
                UPDATE GOODSBLINKED
                <set>
                        <if test="id!=null">
                                id=#{id},
                        </if>
                        <if test="mainGoodsId!=null">
                                mainGoodsId=#{mainGoodsId},
                        </if>
                        <if test="beLinkedProductInfo!=null">
                                beLinkedProductInfo=#{beLinkedProductInfo},
                        </if>
                        <if test="bMode!=null">
                                bMode=#{bMode},
                        </if>
                        <if test="state!=null">
                                state=#{state},
                        </if>
                        <if test="creatorId!=null">
                                creatorId=#{creatorId},
                        </if>
                        <if test="updateTime!=null">
                                createTime=#{createTime},
                        </if>
                        <if test="createTime!=null">
                                updateTime=#{updateTime},
                        </if>
                        <if test="sxLinkedGoodsId!=null">
                                sxLinkedGoodsId=#{sxLinkedGoodsId},
                        </if>
                        <if test="mainProductId!=null">
                                mainProductId=#{mainProductId},
                        </if>
                        <if test="shopId!=null">
                                shopId=#{shopId},
                        </if>
                        <if test="mainGoodsName!=null">
                                mainGoodsName=#{mainGoodsName},
                        </if>
                </set>
                WHERE maingoodsid=#{maingoodsid}
        </update>
        <delete id="delGoodsBelinkedBymaingoodsid" parameterType="int">
                DELETE FROM GOODSBLINKED WHERE Maingoodsid =#{maingoodsid}
        </delete>
        <delete id="delGoodsBelinkedBymaingoodsidandsxlinkedgoodsid" parameterType="map">
                DELETE FROM GOODSBLINKED WHERE Maingoodsid =#{maingoodsid} AND sxlinkedgoodsid=#{sxlinkedgoodsid}
        </delete>
        <delete id="delGoodsBelinked">
                DELETE FROM GOODSBLINKED WHERE ID IN
                <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
                        #{item}
                </foreach>
        </delete>
        <select id="findGoodsBelinkedBymaingoodsid" resultType="net.hzjxy.myshop.entity.GoodsBlinked" >
                SELECT  * FROM GOODSBLINKED WHERE Maingoodsid=#{maingoodsid}
        </select>
        <select id="findAllGoodsBelinked" resultType="net.hzjxy.myshop.entity.GoodsBlinked" parameterType="map">
                 SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM GOODSBLINKED ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
        </select>
        <select id="countfindAllGoodsBelinked" resultType="java.lang.Integer">
                   SELECT COUNT(*) FROM GOODSBLINKED
        </select>
</mapper>