<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.GoodsTypeDao">
    <insert id="addGoodsType" parameterType="net.hzjxy.myshop.entity.GoodsType">
        INSERT INTO GoodsType(GOODSTYPEID,NAME,CREATETIME,GOODSPARAMETER)
        VALUES (#{goodsTypeId},#{name},#{createTime},#{creatorId},#{goodsParameter})
    </insert>
    <update id="updateGoodsTypeTN" parameterType="net.hzjxy.myshop.entity.GoodsType">
     UPDATE GoodsType
    <set>
        <if test="goodsTypeId!=null" >
            goodsTypeId=#{goodsTypeId},
        </if>
        <if test="name!=null" >
            name=#{name},
        </if>
        <if test="createTime!=null" >
            createTime=#{createTime},
        </if>
        <if test="creatorId!=null" >
            creatorId=#{creatorId},
        </if>
        <if test="goodsParameter!=null" >
            goodsParameter=#{goodsParameter},
        </if>
        </set>
        WHERE GOODSTYPEID=#{goodsTypeId}
    </update>
    <delete id="delGoodsTypeTN">
        DELETE FROM GoodsType WHERE goodsTypeId IN
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="findAllGoodsTypeTN" resultType="net.hzjxy.myshop.entity.GoodsType" parameterType="map">
        SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM GoodsType ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countfindAllGoodsTypeTN" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM GoodsType
    </select>
    <select id="findGoodsTypeTNById" resultType="net.hzjxy.myshop.entity.GoodsType">
        SELECT * FROM GoodsType WHERE goodsTypeId=#{goodsTypeId}
    </select>
    <select id="findAllGoodsTypeTNNopage" resultType="net.hzjxy.myshop.entity.GoodsType">
        SELECT * FROM GOODSTYPE
    </select>
    <select id="sortAllGoodsTypeTN" resultType="net.hzjxy.myshop.entity.GoodsType" parameterType="map">
        SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM GoodsType ORDER BY queryString  DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countsortAllGoodsTypeTN" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM GoodsType WHERE queryString=#{queryString}
    </select>
    <select id="findGoodsTypeTNByName" resultType="net.hzjxy.myshop.entity.GoodsType">
        SELECT * FROM GoodsType WHERE name=#{name}
    </select>
</mapper>