<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.GoodsCategoryDao">
    <insert id="addGoodsCategory" parameterType="net.hzjxy.myshop.entity.GoodsCategory">
        INSERT INTO GoodsCategory(GOODSCATEGORYTID,GRADE,METAKEYWORDS,METADES,NAME,STATE,PATH,SORT,SIGN,GOODSTYPEID,PARENTID,CREATETIME,CREATORID,PARENTNAME,HTMLPATH,UPDATETIME,VERSION,LOGO,MOBILESYNC)
        VALUES (#{GOODSCATEGORYTID},#{GRADE},#{METAKEYWORDS},#{METADES},#{NAME},#{STATE},#{PATH},#{SORT},#{SIGN},#{GOODSTYPEID},#{PARENTID},#{CREATETIME},#{CREATORID},#{PARENTNAME},#{HTMLPATH},#{UPDATETIME},#{VERSION},#{LOGO},#{MOBILESYNC})
    </insert>
    <update id="updateGoodscategoryT">
        UPDATE GoodsCategory
        <set>
            <if test="goodsCategoryTid!=null">
                goodsCategoryTid=#{goodsCategoryTid},
            </if>
            <if test="grade!=null">
                grade=#{grade},
            </if>
            <if test="metaKeywords!=null">
                metaKeywords=#{metaKeywords},
            </if>
            <if test="metaDes!=null">
                metaDes=#{metaDes},
            </if>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="state!=null">
                state=#{state},
            </if>
            <if test="path!=null">
                path=#{path},
            </if>
            <if test="sort!=null">
                sort=#{sort},
            </if>
            <if test="sign!=null">
                sign=#{sign},
            </if>
            <if test="goodsTypeId!=null">
                goodsTypeId=#{goodsTypeId},
            </if>
            <if test="parentId!=null">
                parentId=#{parentId},
            </if>
            <if test="createTime!=null">
                createTime=#{createTime},
            </if>
            <if test="creatorId!=null">
                creatorId=#{creatorId},
            </if>
            <if test="parentName!=null">
                parentName=#{parentName},
            </if>
            <if test="htmlPath!=null">
                htmlPath=#{htmlPath},
            </if>
            <if test="updateTime!=null">
                updateTime=#{updateTime},
            </if>
            <if test="version!=null">
                version=#{version},
            </if>
            <if test="logo!=null">
                logo=#{logo},
            </if>
            <if test="mobilesYnc!=null">
                mobilesYnc=#{mobilesYnc},
            </if>
        </set>
        WHERE goodsCategoryTid=#{goodsCategoryTid}
    </update>
    <update id="updateHtmlPath" parameterType="string">
        update GoodsCategory as u set u.goodsCategoryTid=:goodsCategoryTid,u.htmlpath=:htmlpath
    </update>
    <delete id="delGoodscategoryT" parameterType="string">
        DELETE FROM GoodsCategory WHERE goodsCategoryTid IN
    </delete>
    <delete id="delGoodscategoryS" parameterType="map">

    </delete>
    <select id="findPathParentIdByParentId" resultType="net.hzjxy.myshop.entity.GoodsCategory">
        SELECT * FROM GoodsCategory WHERE PathParentId=#{PathParentId} and ParentId=#{ParentId}
    </select>
    <select id="findGoodsCategoryByGrade" resultType="net.hzjxy.myshop.entity.GoodsCategory">
        SELECT * FROM GoodsCategory WHERE grade=#{grade} and state=#{state}
    </select>
    <select id="checkGoodscategoryName" resultType="java.lang.Integer">
        SELECT * FROM GoodsCategory WHERE name=#{name}
    </select>
    <select id="checkGoodscategorySign" resultType="java.lang.Integer">
        SELECT * FROM GoodsCategory WHERE sign=#{sign}
    </select>
    <select id="findAllGoodsCategoryT" resultType="net.hzjxy.myshop.entity.GoodsCategory" parameterType="string"></select>
    <select id="countfindAllGoodsCategoryT" resultType="java.lang.Integer" parameterType="string">
        SELECT COUNT(*) FROM GoodsCategory
    </select>
    <select id="findAllGoodsCategoryTByGrade" resultType="net.hzjxy.myshop.entity.GoodsCategory">
        SELECT GoodsCategoryT FROM GoodsCategory WHERE name=#{name} and state=#{state}
    </select>
    <select id="countfindAllGoodsCategoryTByGrade" resultType="java.lang.Integer" parameterType="string">
        SELECT COUNT(*) FROM GoodsCategory where grade=#{grade} and state=#{state}
    </select>
    <select id="findGoodscategoryBygoodscategoryId" resultType="net.hzjxy.myshop.entity.GoodsCategory">
        SELECT Goodscategory FROM GoodsCategory WHERE goodscategoryId=#{goodscategoryId}
    </select>
    <select id="checkGoodscategoryNamewithoutMe" resultType="java.lang.Integer">
        SELECT name=#{name} from Goodscategory where goodsCategoryTid=#{goodsCategoryTid}
    </select>
    <select id="checkGoodscategorySignwithoutMe" resultType="java.lang.Integer">
        SELECT sign=#{sign} from Goodscategory where goodsCategoryTid=#{goodsCategoryTid}
    </select>
    <select id="findGoodscategoryByparentId" resultType="net.hzjxy.myshop.entity.GoodsCategory">
        SELECT Goodscategory FROM GoodsCategory WHERE parentId=#{parentId} and state=#{state}
    </select>
    <select id="findGoodscategoryByparentIdnull" resultType="net.hzjxy.myshop.entity.GoodsCategory">
        SELECT Goodscategory FROM GoodsCategory WHERE state=#{state}
    </select>
    <select id="findAllGoodsCategoryBycreatorid" resultType="net.hzjxy.myshop.entity.GoodsCategory">
        SELECT Goodscategory FROM GoodsCategory WHERE creatorid=#{creatorid}
    </select>
    <select id="sortAllGoodsCategoryT" resultType="net.hzjxy.myshop.entity.GoodsCategory" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Category ORDER BY  sort DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findAllGoodsCategoryTByPage" resultType="net.hzjxy.myshop.entity.GoodsCategory" parameterType="map">
        SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Category ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findAllCategoryByNoTrem" resultType="net.hzjxy.myshop.entity.GoodsCategory">
        SELECT Category FROM GoodsCategory
    </select>
</mapper>