<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.GoodsSpecificationsProductRpDao">
    <update id="updateGoodsAssociatedProductById"></update>
    <delete id="delGoodsAssociatedProductById"></delete>

    <select id="checkSpecificationRelationshipByspecificationsid"
            resultType="net.hzjxy.myshop.entity.GoodsSpecificationsProductRp"></select>
    <select id="checkSpecificationRelationshipBygoodssetid"
            resultType="net.hzjxy.myshop.entity.GoodsSpecificationsProductRp"></select>
    <select id="checkSpecificationRelationshipByproductid"
            resultType="net.hzjxy.myshop.entity.GoodsSpecificationsProductRp"></select>
</mapper>