<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.GoodsBlinkedDao">

        <update id="updateGoodsBelinked"></update>
        <delete id="delGoodsBelinkedBymaingoodsid">
                 UPDATE GoodsBelinked SET rolEmId=#{roleName} And rolEmName=#{roleName} WHERE Maingoodsid =#{maingoodsid}
        </delete>
        <delete id="delGoodsBelinkedBymaingoodsidandsxlinkedgoodsid">
                 UPDATE GoodsBelinked SET headPath=#{headPath} WHERE Maingoodsid=#{maingoodsid}
        </delete>
        <delete id="delGoodsBelinked">
                UPDATE GoodsBelinked
                <set>
                        <if test="id!=null">
                                id=#{id},
                        </if>
                        <if test="mainGoodsId!=null">
                                mainGoodsId=#{mainGoodsId},
                        </if>
                        <if test="beLinkedProductInfo!=null">
                                beLinkedProductInfo=#{beLinkedProductInfo},
                        </if>
                        <if test="bMode!=null">
                                 bMode=#{bMode},
                        </if>
                        <if test="state!=null">
                                state=#{state},
                        </if>
                        <if test="creatorId!=null">
                        creatorId=#{creatorId},
                        </if>
                        <if test="updateTime!=null">
                        updateTime=#{updateTime},
                        </if>
                        <if test="sxLinkedGoodsId!=null">
                        sxLinkedGoodsId=#{sxLinkedGoodsId},
                        </if>
                        <if test="mainProductId!=null">
                        mainProductId=#{mainProductId},
                        </if>
                        <if test="shopId!=null">
                        shopId=#{shopId},
                        </if>
                        <if test="mainGoodsName!=null">
                        mainGoodsName=#{mainGoodsName},
                        </if>
                </set>
                WHERE maingoodsid=#{maingoodsid}
        </delete>
        <select id="findGoodsBelinkedBymaingoodsid" resultType="net.hzjxy.myshop.entity.GoodsBlinked">
                SELECT  * FROM GoodsBelinked WHERE Maingoodsid=#{maingoodsid}
        </select>
        <select id="findAllGoodsBelinked" resultType="net.hzjxy.myshop.entity.GoodsBlinked"></select>
        <select id="countfindAllGoodsBelinked" resultType="java.lang.Integer">
                   SELECT COUNT(*) FROM GoodsBelinked
        </select>
</mapper>