<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.GoodsAttributeDao">
    <insert id="addGoodsAttribute" parameterType="net.hzjxy.myshop.entity.GoodsAttribute">
        INSERT INTO GoodsAttribute(GOODSATTRIBUTEID,GOODSATTRIBUTENAME,GOODSTYPEID,GOODSTYPENAME,CREATETIME,STATE,CREATORID,ATTRIBUTETYPE,ATTRIBUTELIST,SORT,ATTRIBUTEINDEX,ISSEARCH,ISSAMETOLINK)
                VALUES (#{goodSatTributeId},#{goodSatTributeName},#{goodsTypeId},#{goodsTypeName},#{createTime},#{state},#{creatorId},#{attributeType},#{attributeList},#{sort},#{attributeIndex},#{isSearch},#{isSameToLink})
    </insert>

    <update id="updateGoodsAttribute" parameterType="net.hzjxy.myshop.entity.GoodsAttribute">
        UPDATE  GOODSATTRIBUTE
        <set>
            <if test="goodSatTributeName!=null">
                goodSatTributeName=#{goodSatTributeName},
            </if>
            <if test="goodsTypeId!=null">
                goodsTypeId=#{goodsTypeId},
            </if>
            <if test="goodsTypeName!=null">
                goodsTypeName=#{goodsTypeName},
            </if>
            <if test="createTime!=0">
                createTime=#{createTime},
            </if>
            <if test="state!=null">
                state=#{state},
            </if>
            <if test="creatorId !=null">
                creatorId=#{creatorId},
            </if>
            <if test="attributeType!=null">
                attributeType=#{attributeType},
            </if>
            <if test="attributeList!=null">
                attributeList=#{attributeList},
            </if>
            <if test="sort!=null">
                sort=#{sort},
            </if>
            <if test="attributeIndex!=null">
                attributeIndex=#{attributeIndex},
            </if>
            <if test="isSearch!=null">
                isSearch=#{isSearch},
            </if>
            <if test="isSameToLink!=null">
                isSameToLink=#{isSameToLink},
            </if>
        </set>
        WHERE goodSatTributeId=#{goodSatTributeId}
    </update>
    <update id="updateGoodsAttributeGoodsTypeName" parameterType="map">
        UPDATE GoodsAttribute SET goodsTypeName=#{goodsTypeName} WHERE goodsTypeId=#{goodsTypeId}
    </update>
    <update id="updateGoodsAttributeIsSearchByGoodsAttributeId" parameterType="map">
    UPDATE  GoodsAttribute SET goodsattributeId=#{goodsattributeId} where isSearch=#{isSearch}
    </update>
    <update id="updateGoodsAttributeIsSameToLinkByGoodsAttributeId" parameterType="map">
        UPDATE GoodsAttribute SET  goodsAttributeId=#{goodsAttributeId} WHERE isSameToLink=#{isSameToLink}
    </update>
    <delete id="delGoodsAttribute">
        DELETE FROM GoodsAttribute WHERE goodSatTributeId IN
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="findGoodsAttributeBygoodsTypeId" resultType="net.hzjxy.myshop.entity.GoodsAttribute" parameterType="string">
        SELECT * FROM GoodsAttribute WHERE GoodsTypeId=#{goodsTypeId}
    </select>
    <select id="findAllGoodsAttribute" resultType="net.hzjxy.myshop.entity.GoodsAttribute" parameterType="map">
           SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM GoodsAttribute ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findGoodsAttributeByGoodsTypeName" resultType="net.hzjxy.myshop.entity.GoodsAttribute" parameterType="string">
        SELECT * FROM goodSatTributeId WHERE goodsTypeName=#{goodsTypeName}
    </select>
    <select id="findGoodsAttributeByGoodsTypeIdL" resultType="net.hzjxy.myshop.entity.GoodsAttribute" parameterType="string">
         SELECT * FROM goodSatTributeId WHERE goodsTypeId=#{goodsTypeId}
    </select>
    <select id="sortAllGoodsAttribute" resultType="net.hzjxy.myshop.entity.GoodsAttribute" parameterType="map">
          SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM GoodsAttribute ORDER BY queryString DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countFindAllGoodsAttribute" resultType="java.lang.Integer">
        SELECT COUNT (*) from GoodsAttribute
    </select>
    <select id="countSortAllGoodsAttribute" resultType="java.lang.Integer" parameterType="string">
        SELECT COUNT (*) FROM GoodsAttribute WHERE queryString=#{queryString}
    </select>
</mapper>