<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.MenberGradeDao">
        <insert id="add">
                INSERT into MEMBERGRADE(ID,TYPEA,NAMEA,STARTA,VERSIONTA,ENDA,INCREMENTA,MULTIPLYPOWER,MPSTATE,MPCHANGEPOWER,UPDATETIME,DISCOUNT,CREATETIME,CREATORID) VALUES(#{ID},#{TYPEA},#{NAMEA},#{STARTA},#{VERSIONTA},#{ENDA},#{INCREMENTA},#{MULTIPLYPOWER},#{MPSTATE},#{IMPCHANGEPOWERD},#{UPDATETIME},#{DISCOUNT},#{ICREATETIMED},#{CREATORID})
        </insert>
        <update id="updateMemberGradeTById">
              UPDATE MEMBERGRADE SET MemberGrade=#{mgt}
        </update>
        <delete id="delMemberGradeT">
                DELETE FROM MemberGradet WHERE Id IN
                <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
                        #{item}
                </foreach>
        </delete>
        <select id="findAllMemberGradeT" resultType="net.hzjxy.myshop.entity.MemberGrade">
                SELECT * from
        </select>
        <select id="countfindAllMemberGradeT" resultType="java.lang.Integer">
                select count(*) from MEMBERGRADE
        </select>
        <select id="findMemberGradeTById" resultType="net.hzjxy.myshop.entity.MemberGrade">
                select * from MEMBERGRADE WHERE id=#{id}
        </select>
        <select id="findAllMemberGradeTa" resultType="net.hzjxy.myshop.entity.MemberGrade">
                SELECT * FROM MEMBERGRADE
        </select>


</mapper>