<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.MenberGroupDao">
        <insert id="add">
                INSERT  INTO MEMBERGROUP(ID,NAMEA,STATUS,CREATETIME,CREATORID,UPDATETIME,ATTRS) VALUES (#{ID},#{NAMEA},#{STATUS},#{CREATETIME},#{CREATORID},#{UPDATETIME},#{VERSIONT},#{ATTRS})
        </insert>
        <update id="updateMemberGroupT">
                UPDATE MEMBERGROUP
                <set>
                        <if test="NAMEA!=null">
                                NAMEA=#{NAMEA},
                        </if>
                        <if test="STATUS!=null">
                                STATUS=#{STATUS},
                        </if>
                        <if test="CREATETIME!=null">
                                CREATETIME=#{CREATETIME},
                        </if>
                        <if test="CREATORID!=null">
                                CREATORID=#{CREATORID},
                        </if>
                        <if test="UPDATETIME!=null">
                                UPDATETIME=#{UPDATETIME},
                        </if>
                        <if test="VERSIONT!=null">
                                VERSIONT=#{VERSIONT},
                        </if>
                        <if test="ATTRS!=null">
                                ATTRS=#{ATTRS},
                        </if>
                </set>
                WHERE ID=#{ID}
        </update>
        <delete id="delMemberGroupT">
                DELETE FROM MEMBERGROUP WHERE Id IN
                <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
                        #{item}
                </foreach>
        </delete>

        <select id="findAllMemberGroupT" resultType="net.hzjxy.myshop.entity.MemberGroup">
               SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM MEMBERGROUP ORDER BY CREATETIME DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1

        </select>
        <select id="countfindAllMemberGroupT" resultType="java.lang.Integer">
                SELECT COUNT(*) FROM MEMBERGROUP
        </select>
        <select id="findAllMemberGroupTa" resultType="net.hzjxy.myshop.entity.MemberGroup">
                 SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM MEMBERGROUP ORDER BY creatorid DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
        </select>
        <select id="countfindAllMemberGroupTb" resultType="java.lang.Integer">
                 SELECT count(*) FROM MEMBERGROUP where CREATORID=#{creatorid}
        </select>
        <select id="findMemberGroupTById" resultType="net.hzjxy.myshop.entity.MemberGroup">
                select * from MEMBERGROUP WHERE id=#{id}
        </select>
        <select id="findMemberGroupTByname" resultType="net.hzjxy.myshop.entity.MemberGroup">
                select * FROM MEMBERGROUP where NAMEA=#{name}
        </select>
        <select id="findAllMemberGroup" resultType="net.hzjxy.myshop.entity.MemberGroup">
                select from MEMBERGROUP where STATUS=#{status}
        </select>

</mapper>