<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.MsgTextDao">
    <insert id="add">
        INSERT into MsgText(MSGTEXTID,TEXT,SENDTIME) VALUES(#{MSGTEXTID},#{TEXT},#{SENDTIME})
    </insert>
    <update id="updateMsgText">
        UPDATE MENBERRECHARGE
        <set>
            <if test="TEXT!=null">
                TEXT=#{TEXT},
            </if>
            <if test="SENDTIME!=null">
                SENDTIME=#{SENDTIME},
            </if>
        </set>
        WHERE MSGTEXTID=#{MSGTEXTID}
    </update>
    <delete id="delMsgText">
        DELETE FROM MSGTEXT WHERE SENDTIME IN
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="findMsgTextById" resultType="net.hzjxy.myshop.entity.MsgText">
        SELECT * FROM MSGTEXT where MSGTEXTID=#{id}
    </select>
    <select id="findAllMsgText" resultType="net.hzjxy.myshop.entity.MsgText">
        SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM MSGTEXT ORDER BY SENDTIME DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countFindAllMsgText" resultType="java.lang.Integer">
        SELECT COUNT(*) from MSGTEXT
    </select>
</mapper>