<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.OrderrDao">
    <insert id="addOrderr">
        insert into ORDERR VALUE ()
    </insert>
    <update id="updateOrder">
        UPDATE orderr set OrderId=#{OrderId}
    </update>
    <update id="updateOrderPayStateByOrderId">
        UPDATE orderr set payState=#{payState} where OrderId=#{OrderId}
    </update>
    <update id="updateOrderShippingStateByOrderId">
        UPDATE orderr set shippingState=#{shippingState} where OrderId=#{OrderId}
    </update>
    <update id="updateOrderStateByOrderId">
        UPDATE orderr set orderState=#{orderState} where OrderId=#{OrderId
    </update>
    <update id="updateOrderPayShippingState">
        UPDATE orderr SET GoodsId=#{goodsid} And orderState=#{orderState} And payState=#{payState} AND WHERE OrderId=#{OrderId
    </update>
    <update id="updateExpressNumberByOrderId">
        UPDATE orderr set expressNumber=#{expressNumber} where OrderId=#{OrderId
    </update>
    <update id="updateInvoiceNumberByOrderId">
        UPDATE orderr set invoiceNumber=#{invoiceNumber} AND deliveryTime=#{deliveryTime} where OrderId=#{OrderId
    </update>
    <update id="updateInvoiceByOrderId">
        UPDATE orderr set invoice=#{invoice} where OrderId=#{OrderId
    </update>
    <delete id="delOrderByOrderId">
        DELETE FROM ORDERr WHERE OrderId IN
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="findAllOrderByOrderState" resultType="net.hzjxy.myshop.entity.Orderr">
       SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Orderr ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countFindAllOrderByOrderState" resultType="java.lang.Integer">
        SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Orderr ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findAllOrderByOrderStateForOn" resultType="net.hzjxy.myshop.entity.Orderr">
      SELECT * from Orderr as o where o.orderstate!=:orderstate and o.memberid=:memberid and o.paystate!=:paystate and o.shippingstate!=:shippingstate order by purchasetime desc
    </select>
    <select id="countFindAllOrderByOrderStateForOn" resultType="java.lang.Integer">
        SELECT count(*) from OrderT as o where o.orderstate!=:orderstate and o.memberid=:memberid and o.paystate!=:paystate and o.shippingstate!=:shippingstate order by purchasetime desc
    </select>
    <select id="findOrderDetailByorderId" resultType="net.hzjxy.myshop.entity.Orderr">
        SELECT * FROM ORDERr where orderId=#{orderId}
    </select>
    <select id="findAllOrder" resultType="net.hzjxy.myshop.entity.Orderr">
        SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Orderr ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countFindAllOrder" resultType="java.lang.Integer">
         SELECT COUNT(*) from orderr
    </select>
    <select id="findOrderByOrderId" resultType="net.hzjxy.myshop.entity.Orderr">
       SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Orderr ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countFindOrderbyOrderId" resultType="java.lang.Integer">
         select * FROM  orderr where orderId=#{orderId}
    </select>
    <select id="findOrderByShippingUsername" resultType="net.hzjxy.myshop.entity.Orderr">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Orderr ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countFindOrderByShippingUsername" resultType="java.lang.Integer">
        select count(*) FROM  orderr where shippingUsername=#{shippingUsername}
    </select>
    <select id="findAllToBeShippedOrders" resultType="net.hzjxy.myshop.entity.Orderr">
SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Orderr ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countFindAllToBeShippedOrders" resultType="java.lang.Integer">

    </select>
    <select id="selectAllOrder" resultType="net.hzjxy.myshop.entity.Orderr">
SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Orderr ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findAllHaveShippedOrder" resultType="net.hzjxy.myshop.entity.Orderr">
SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Orderr ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countAllHaveshippedOrder" resultType="java.lang.Integer">

    </select>
    <select id="findAllReturnOrder" resultType="net.hzjxy.myshop.entity.Orderr">
SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Orderr ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countAllReturnOrder" resultType="java.lang.Integer">

    </select>
</mapper>