<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.OrderrDao">
        <update id="updateOrder"></update>
        <update id="updateOrderPayStateByOrderId"></update>
        <update id="updateOrderShippingStateByOrderId"></update>
        <update id="updateOrderStateByOrderId"></update>
        <update id="updateOrderPayShippingState"></update>
        <update id="updateExpressNumberByOrderId"></update>
        <update id="updateInvoiceNumberByOrderId"></update>
        <update id="updateInvoiceByOrderId"></update>
        <delete id="delOrderByOrderId"></delete>

        <select id="findAllOrderByOrderState" resultType="net.hzjxy.myshop.entity.Orderr"></select>
        <select id="countFindAllOrderByOrderState" resultType="java.lang.Integer"></select>
        <select id="findAllOrderByOrderStateForOn" resultType="net.hzjxy.myshop.entity.Orderr"></select>
        <select id="countFindAllOrderByOrderStateForOn" resultType="java.lang.Integer"></select>
        <select id="findOrderDetailByorderId" resultType="net.hzjxy.myshop.entity.Orderr"></select>
        <select id="findAllOrder" resultType="net.hzjxy.myshop.entity.Orderr"></select>
        <select id="countFindAllOrder" resultType="java.lang.Integer"></select>
        <select id="findOrderByOrderId" resultType="net.hzjxy.myshop.entity.Orderr"></select>
        <select id="countFindOrderbyOrderId" resultType="java.lang.Integer"></select>
        <select id="findOrderByShippingUsername" resultType="net.hzjxy.myshop.entity.Orderr"></select>
        <select id="countFindOrderByShippingUsername" resultType="java.lang.Integer"></select>
        <select id="findAllToBeShippedOrders" resultType="net.hzjxy.myshop.entity.Orderr"></select>
        <select id="countFindAllToBeShippedOrders" resultType="java.lang.Integer"></select>
        <select id="findAllHaveShippedOrder" resultType="net.hzjxy.myshop.entity.Orderr"></select>
        <select id="countAllHaveshippedOrder" resultType="java.lang.Integer"></select>
        <select id="findAllReturnOrder" resultType="net.hzjxy.myshop.entity.Orderr"></select>
        <select id="countAllReturnOrder" resultType="java.lang.Integer"></select>
        <select id="sortAllOrder" resultType="net.hzjxy.myshop.entity.Orderr"></select>
</mapper>