<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.OrderForAlipayDao">


        <update id="updateOrderPayStateByOrderId">
                UPDATE OrderForAlipay SET state=#{payState} where orderId=#{orderId}
        </update>
        <update id="updateOrderShippingStateByOrderId">
                UPDATE OrderForAlipay SET state=#{shippingState} where orderId=#{orderId}
        </update>
        <update id="updateOrderStateByorderId" >
                UPDATE OrderForAlipay SET state=#{orderState} where orderId=#{orderId}
        </update>
        <insert id="addlist" parameterType="net.hzjxy.myshop.entity.OrderInvoice">
                INSERT INTO list() VALUES()
        </insert>
        <insert id="addlorderr" parameterType="net.hzjxy.myshop.entity.OrderInvoice">
                INSERT INTO orderr() VALUES()
        </insert>
</mapper>