<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.OrderForAlipayDao">


        <update id="updateOrderPayStateByOrderId">
                UPDATE OrderForAlipay SET state=#{payState} where orderId=#{orderId}
        </update>
        <update id="updateOrderShippingStateByOrderId">
                UPDATE OrderForAlipay SET state=#{shippingState} where orderId=#{orderId}
        </update>
        <update id="updateOrderStateByorderId" >
                UPDATE OrderForAlipay SET state=#{orderState} where orderId=#{orderId}
        </update>
        <insert id="addlorderr" parameterType="net.hzjxy.myshop.entity.OrderInvoice">
                INSERT INTO OrderForAlipay(CARTINFOID,CARTID,ORDERID,GOODSID,GOODSNAME,USERID,USERNAME,PRICE,FAVORABLE,CHANGEPRICE,POINTS,SUBTOTAL,ADDTIME,QUANTITY,PICTURE,USERSETNUM,WEIGHT,STATE,HTMLPATH,PRODUCTID,ORDERTAG,PRODUCTNAME,CARTTAG,MEMBERID,MEMBERNAME,STORETAG,SHOPID,SHIPPINGADDRESSID,ID,NEEDQUANT) VALUES(#{cartinfoid},#{cartid},#{orderid},#{goodsid},#{goodsname},#{userid},#{username},#{price},#{favorable},#{changeprice},#{points},#{subtotal},#{addtime},#{quantity},#{picture},#{usersetnum},#{weight},#{state},#{htmlpath},#{productid},#{ordertag},#{productname},#{carttag},#{memberid}，#{membername},#{storetag},#{hopid},#{shippingaddressid},#{id},#{needquant})
        </insert>
</mapper>

