<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC
                "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.PaymentDao">
        <update id="updatePayment">
                 update Payment set paymentname:=paymentname where pm=:pm
        </update>
        <update id="closePayment">
              Update Payment as pm set pm.state='0' where pm.paymentid=:paymentid
        </update>
        <delete id="delPaymentById">
                DELETE FROM Payment WHERE paymentId IN
                <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
                        #{str}
                </foreach>
        </delete>
        <update id="openPayment">
                Update PaymentM as pm set pm.state='1' where pm.paymentid=:paymentid
        </update>
        <select id="findAllPayment" resultType="net.hzjxy.myshop.entity.Payment">

        </select>
        <select id="countFindAllPayment" resultType="java.lang.Integer">

        </select>
        <select id="findPaymentById" resultType="net.hzjxy.myshop.entity.Payment">
                Update Payment as pm set pm.state='0' where pm.paymentid=:paymentid
        </select>
        <select id="findAllPayments" resultType="net.hzjxy.myshop.entity.Payment">

        </select>
</mapper>