<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.ProductDao">
        <insert id="addProduct"></insert>
        INSERT INTO Product(PRODUCTID,PRICE,MEMBERPRICE,COST,SALEPRICE,FREEZESTORE,STORE,ISDEFAULT,ISSALESTATE,PRODUCTNAME,PRODUCTSN,SPECIFICATIONSVALUE,WAREHOUSELOCATION,PLACESTORE,WEIGHT,GOODSID,CREATORID,CREATETIME,SPECIFICATIONSID,SPECIFICATIONSNAME,UPDATETIME,UNIT,SHOPID) value(#{productid},#{price},#{memberprice},#{cost},#{saleprice},#{freezeStore},#{store},#{isDefault},#{isSalestate},#{productName},#{productSn},#{specificationsValue},#{warehouseLocation},#{placeStore},#{weight},#{goodsid},#{creatorid},#{createtime},#{specificationsid},#{specificationsName},#{updatetime},#{unit},#{shopid})
        <update id="updateProduct">
                 UPDATE Product SET productName=:productName where productid=:productid
        </update>
        <delete id="delProductBygoodsId">
                   DELETE FROM Product WHERE  goodsId=#{goodsId}
        </delete>
        <delete id="delProductByProductId">
                   DELETE FROM Product WHERE  productid=#{productid}
        </delete>
        <delete id="delProduct">
                DELETE FROM Product WHERE productid IN
                <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
                        #{strs}
                </foreach>
        </delete>
        <select id="findAllProductByCreatorId" resultType="net.hzjxy.myshop.entity.Product">
             SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Product ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
        </select>
        <select id="findAllProduct" resultType="net.hzjxy.myshop.entity.Product">
                SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Product ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
        </select>
        <select id="countFindAllProduct" resultType="java.lang.Integer">
                SELECT COUNT(*) FROM Product
        </select>
        <select id="countFineAllProduct" resultType="java.lang.Integer">
                SELECT COUNT(*) FROM Product
        </select>
        <select id="findAllProductByGoodsId" resultType="net.hzjxy.myshop.entity.Product">
                 SELECT COUNT(*) FROM Product  WHERE creatorId=:creatorId
        </select>
        <select id="findProductByProductId" resultType="net.hzjxy.myshop.entity.Product">
                 SELECT COUNT(*) FROM Product  WHERE productid=:productid
        </select>
        <select id="sortAllProduct" resultType="net.hzjxy.myshop.entity.Product">
 SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Product ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
        </select>
        <select id="findProductByGoodsId" resultType="net.hzjxy.myshop.entity.Product">
                SELECT * FROM Product  WHERE productid=:productid
        </select>
        <select id="findProductByProductName" resultType="net.hzjxy.myshop.entity.Product">
                 SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM Product ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
        </select>
        <select id="findProductById" resultType="net.hzjxy.myshop.entity.Product">
                 SELECT * FROM Product  WHERE productid=:productid
        </select>
</mapper>