<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.ProductDao">
        <update id="updateProduct"></update>
        <delete id="delProductBygoodsId"></delete>
        <delete id="delProductByProductId"></delete>
        <delete id="delProduct"></delete>
        <select id="findAllProductByCreatorId" resultType="net.hzjxy.myshop.entity.Product"></select>
        <select id="findAllProduct" resultType="net.hzjxy.myshop.entity.Product"></select>
        <select id="countFindAllProduct" resultType="java.lang.Integer"></select>
        <select id="countFineAllProduct" resultType="java.lang.Integer"></select>
        <select id="findAllProductByGoodsId" resultType="net.hzjxy.myshop.entity.Product"></select>
        <select id="findProductByProductId" resultType="net.hzjxy.myshop.entity.Product"></select>
        <select id="sortAllProduct" resultType="net.hzjxy.myshop.entity.Product"></select>
        <select id="findProductByGoodsId" resultType="net.hzjxy.myshop.entity.Product"></select>
        <select id="findProductByProductName" resultType="net.hzjxy.myshop.entity.Product"></select>
        <select id="findProductById" resultType="net.hzjxy.myshop.entity.Product"></select>
</mapper>