<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.ProductSpecificationDao">
        <insert id="addProductSpecification">
                INSERT  INTO ProductSpecification(SPECIFICATIONSID,NAMEe,NOTE,SORT,SPECIFICATIONSTYPE,SPECIFICATIONSVALUE,CREATETIME,CREATORID,STATE,GOODSTYPEID,GOODSTYPENAME,SHOPID) VALUES (#{specificationsid},#{name},#{note},#{sort},#{specificationsType},#{specificationsValue},#{createtime},#{creatorid},#{state},#{goodsTypeId},#{goodsTypeName},#{shopid})
        </insert>
        <update id="updateProductSpecification">
                UPDATE  ProductSpecification SET pst=#{pst} WHERE UserId=#{userid}
        </update>
        <delete id="delProductSpecification">
                DELETE FROM ProductSpecification WHERE pst IN
                <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
                        #{list}
                </foreach>
        </delete>
        <select id="findProductSpecificationsBySpecificationId"
                resultType="net.hzjxy.myshop.entity.ProductSpecification">
                SELECT  * FROM ProductSpecification  WHERE specificationId=#{specificationId}
                </select>
        <select id="findAllProductSpecification" resultType="net.hzjxy.myshop.entity.ProductSpecification">
               SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM ProductSpecification ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
        </select>
        <select id="countFindAllProductSpecification" resultType="java.lang.Integer">
                SELECT COUNT(*) FROM ProductSpecification
        </select>
        <select id="findAllProductSpecificati" resultType="net.hzjxy.myshop.entity.ProductSpecification">
                SELECT  * FROM ProductSpecification  WHERE state=#{state}
        </select>
        <select id="sortAllProductSpecification" resultType="net.hzjxy.myshop.entity.ProductSpecification">
 SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM ProductSpecification ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
        </select>
        <select id="findAllProductSpecificationByGoodsTypeId"
                resultType="net.hzjxy.myshop.entity.ProductSpecification">
                SELECT  * FROM ProductSpecification  WHERE goodsTypeId=#{goodsTypeId} AND state=#{state}
         </select>
</mapper>