<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.RoleDao">
        <insert id="addRole">
            INSERT into Role(ROLEID,ROLENAME,NOTE,CREATETIME,CREATORID) VALUES(#{roleid},#{rolename},#{note},#{createtime},#{creatorid})
        </insert>
        <update id="updateRole">
                update Role set rolename=:newrolename where role=:role
        </update>
        <delete id="delRole">
                DELETE FROM Role WHERE roleid IN
                <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
                        #{strs}
                </foreach>
        </delete>
        <select id="findRoleById" resultType="net.hzjxy.myshop.entity.Role">
                  SELECT COUNT(*) FROM Role
        </select>
        <select id="findAllRole" resultType="net.hzjxy.myshop.entity.Role">
               SELECT * FROM Role WHERE id=#{id}
        </select>
</mapper>