<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.RoleFunctionDao">
        <delete id="delRoleFunction">
                 DELETE FROM RoleFunction WHERE  roleId=#{roleId}
        </delete>
        <select id="findAllRoleFunctionByRoleId" resultType="net.hzjxy.myshop.entity.RoleFunction">
                 SELECT  * FROM dba_sys_privs WHERE roleId=#{roleId}
        </select>
        </mapper>