<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.hzjxy.myshop.dao.SiteNavigationDao">
    <insert id="addSiteNavigation" parameterType="string">
        INSERT INTO SITENAVIGATION(ISVISIBLE,NAME,POSITION,ISTARGETBLANK,SNID,CREATETIME) VALUES (#{ISVISIBLE},#{NAME},#{POSITION},#{ISTARGETBLANK},#{SNID},#{CREATETIME})
    </insert>

    <update id="updateSiteNavigation" parameterType="string">
        UPDATE sn FROM SiteNavigation WHERE sn=#{sn}
    </update>

    <delete id="delSiteNavigation" parameterType="string">
        DELETE list from SiteNavigation WHERE list=#{list}
    </delete>

    <select id="findAllSiteNavigation" resultType="net.hzjxy.myshop.entity.SiteNavigation" parameterType="map">
        SELECT * FROM SiteNavigation WHERE currentpage=#{currentPage} and lineSize=#{lineSize} and creatorId=#{creatorId}
    </select>

    <select id="findSiteNavigationBysnId" resultType="net.hzjxy.myshop.entity.SiteNavigation" parameterType="string">
        SELECT SiteNavigation FROM SiteNavigationw WHERE snId=#{snId}
    </select>

    <select id="findSiteNavigationByPosition" resultType="net.hzjxy.myshop.entity.SiteNavigation" parameterType="map">
        SELECT SiteNavigation FROM SiteNavigation WHERE isVisible=#{isVisible} and creatorId=#{creatorId} and position=#{position}
    </select>

    <select id="findSiteNavigationByIsVisible" resultType="net.hzjxy.myshop.entity.SiteNavigation" parameterType="string">
        SELECT SiteNavigation FROM SiteNavigation WHERE isVisible=#{isVisible}
    </select>

    <select id="findSiteNavigationByIsVisibleByCreatorId" resultType="net.hzjxy.myshop.entity.SiteNavigation" parameterType="map">
        SELECT SiteNavigation FROM SiteNavigation WHERE isVisible=#{isVisible} and creatorId=#{creatorId}
    </select>

    <select id="sortAllSiteNavigation" resultType="net.hzjxy.myshop.entity.SiteNavigation" parameterType="map">
         SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM SiteNavigation ORDER BY queryString DESC WHERE creatorId=#{creatorId}
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1

    </select>

    <select id="countfindAllSiteNavigationT" resultType="java.lang.Integer" parameterType="string">
        SELECT COUNT (*) FROM SiteNavigationT
    </select>
</mapper>