<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hzjxy.myshop.dao.UserTDao">
    <insert id="addUserT" parameterType="net.hzjxy.myshop.entity.UserT">
        INSERT INTO UserT(USERROLE,USERID,USERNAME,REALNAME,EMAIL,MOBILE,QUESTION,ANSWER,PASSWORD,USERSTATE,SECTIONID,POSITIONID,GROUPID,QQ,SINAWEIBO,ROLEMNAME,ROLEMID,STATE,HEADPATH,WEIXIN,CREATETIME,UPDATETIME,POSTINGCOUNT,CREATORID,TELNO) VALUES(#{USERID},#{USERNAME},#{REALNAME},#{EMAIL},#{MOBILE},#{QUESTION},#{ANSWER},#{PASSWORD},#{USERSTATE},#{SECTIONID},#{POSITIONID},#{GROUPID},#{QQ},#{SINAWEIBO},#{ROLEMNAME},#{ROLEMID},#{STATE},#{HEADPATH},#{WEIXIN},#{CREATETIME},#{UPDATETIME},#{POSTINGCOUNT},#{CREATORID},#{TELNO})
    </insert>
    <update id="updateUserTunpwd" parameterType="map">
        update UserT as u set u.username=:username,u.email=:email,u.state=:state,u.userstate=:userstate where u.userid=:userid
    </update>
    <update id="updateUserForMyInfo" parameterType="net.hzjxy.myshop.entity.UserT">
        UPDATE  UserT SET MyInfo=#{MyInfo} WHERE UserId=#{userid}
    </update>
    <update id="updateUserMember" parameterType="map">
         update UserT as u set u.password=:newpassword,u.username=:username where u.userid=:userid
    </update>
    <update id="updateUserState" parameterType="map">
        UPDATE UserT SET state=#{userState} where userId=#{userId}
    </update>
    <update id="updateUserPasswordProtection" parameterType="map">
         update UserT set question=#{question},answer=#{answer} where userid=#{userId}
    </update>
    <update id="updateUserRoleByUserId">
        UPDATE  UserT SET rolEmId=#{roleName} And rolEmName=#{roleName} WHERE UserId=#{userId}
    </update>
    <update id="updateUserHeadPathByUserId" parameterType="map">
        UPDATE UserT SET headPath=#{headPath} WHERE UserId=#{userId}
    </update>
    <update id="updateUserT" parameterType="net.hzjxy.myshop.entity.UserT">
        UPDATE UserT
        <set>
            <if test="username!=null">
            username=#{username},
        </if>
            <if test="password!=null">
                password=#{password},
            </if>
        </set>
        WHERE userId=#{userId}
    </update>
    <delete id="delUser">
        DELETE FROM UserT WHERE UserId IN
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="findByUserName" resultType="net.hzjxy.myshop.entity.UserT" parameterType="string">
        SELECT * FROM UserT WHERE username=#{username}
    </select>
    <select id="findById" resultType="net.hzjxy.myshop.entity.UserT" parameterType="string">
        SELECT  * FROM UserT WHERE UserId=#{userId}
    </select>
    <select id="findAllUserT" resultType="net.hzjxy.myshop.entity.UserT" parameterType="map">
        SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM UserT ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="countFindAllUserT" resultType="java.lang.Integer" parameterType="string">
        SELECT COUNT(*) FROM UserT
    </select>
    <select id="checkUserByUsername" resultType="net.hzjxy.myshop.entity.UserT" parameterType="string">
        SELECT * FROM UserT WHERE username=#{username}
    </select>
    <select id="checkUsernameAndPassword" resultType="net.hzjxy.myshop.entity.UserT" parameterType="map">
        SELECT * FROM UserT WHERE username=#{username} AND password=#{password}
    </select>
    <select id="findUserByUserId" resultType="net.hzjxy.myshop.entity.UserT" parameterType="string">
        SELECT USER FROM UserT WHERE userid=#{userId}
    </select>
    <select id="sortAllUserT" resultType="net.hzjxy.myshop.entity.UserT" parameterType="map">
       SELECT * FROM
        (
        SELECT A.*,ROWNUM RN FROM
        (
        SELECT * FROM UserT ORDER BY createtime DESC
        ) A
        WHERE ROWNUM&lt;=#{currentPage}*#{lineSize}
        )
        WHERE RN&gt;=(#{currentPage}-1)*#{lineSize}+1
    </select>
    <select id="findEmailByUser">
        SELECT email FROM UserT
    </select>
    <select id="checkUserByEmail" resultType="net.hzjxy.myshop.entity.UserT" parameterType="string">
        from UserT as u where u.email=:useremail
    </select>
    <select id="checkUserByAnswer" resultType="net.hzjxy.myshop.entity.UserT" parameterType="map">
        from UserT as u where u.username=:username and u.question=:question and u.answer=:answer
    </select>
    <select id="login" resultType="net.hzjxy.myshop.entity.UserT" parameterType="map">
        SELECT * FROM UserT WHERE username=#{username} AND password=#{password} AND state=#{userState}
    </select>
</mapper>