<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.hzjxy.myshop.dao.VoucherDao">
    <insert id="addVoucher" parameterType="string">
        INSERT INTO () VALUE ()
    </insert>
    <update id="updateVoucher" parameterType="string">
        UPDATE Voucher SET vt=#{vt}
    </update>
    <delete id="delVoucher" parameterType="string">
        DELETE list FROM Voucher
    </delete>
    <select id="findAllVoucher" resultType="net.hzjxy.myshop.entity.Voucher" parameterType="map">
        SELECT * FROM Voucher WHERE currentPage=#{currentPage} and lineSize=#{lineSize}
    </select>
    <select id="countFindAllVoucher" resultType="java.lang.Integer" parameterType="string">
        SELECT COUNT(*) FROM Voucher
    </select>
    <select id="findVoucherByName" resultType="net.hzjxy.myshop.entity.Voucher" parameterType="string">
        SELECT voucherName FROM Voucher WHERE name=#{voucherName}
    </select>
    <select id="findVoucherForHonor" resultType="net.hzjxy.myshop.entity.Voucher" parameterType="string">
        SELECT Voucher SET honor=#{Honor} Where name=#{voucherName}
    </select>
    <select id="findUserVoucher" resultType="net.hzjxy.myshop.entity.Voucher" parameterType="map">
        SELECT Voucher SET currentPage=#{currentPage} and lineSize=#{lineSize}Where userId=#{userId}
    </select>
    <select id="countFindUserVoucher" resultType="java.lang.Integer" parameterType="string">
        SELECT COUNT(UserVoucher) FROM Voucher
    </select>

</mapper>